h1{ font-size: 35px;
    font-weight: bolder;
font-family: 'Times New Roman', Times, serif;
color:  white;
background-color: black;
background-size: contain;
text-align: center;
font-style: inherit;
}   

h2{
font-weight: lighter;
font-style: oblique;
color: darkred;
outline-color: black;
outline-width: 10px;
text-shadow: black;
}

p1{
    background-color: darkgrey;
    background-size: auto;
    font-style: italic;
    font-size: 23px;
    background-origin: padding-box;
margin: auto;
box-shadow: indigo;

}

p2{
    background-color: goldenrod;
}